---
import { about } from '../../data/about';
import { AboutReveal } from './AboutReveal';
---

<section class="about" id="about">
  <AboutReveal client:load hook={about.hook} paragraphs={about.paragraphs} highlights={about.highlights} />
</section>
